body {
    background-image: url("../Images/Group\ 3.png");
    /* background: linear-gradient(to bottom, #395b64 0%, #2c3333 100%); */
}

/*----------------------------------------*/
/*---------------Pre-Loader---------------*/
/*----------------------------------------*/
#loading-section {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #2c3333ff;
    z-index: 1;
    transition:all 0.5s ease-out;
    z-index: 1000;
}
#loading-section.fade-out {
    opacity: 0;
}
.loading-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: white;
}
.circle-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
    border: 3px solid transparent;
    border-top-color: white;
    border-bottom-color: white;
    border-radius: 50%;
    animation: circleLoader 2s linear;
    animation-iteration-count: infinite;
}
/*---Pre-loader Animation---*/
.circle-loader:after,
 .circle-loader:before{
    content: "";
    position: absolute;
    border-radius: 50%;
}
.circle-loader:after{
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid white;
    border: 3px solid transparent;
    border-top-color: white;
    border-bottom-color: white;
    animation: circleLoader 1.5s linear;
    animation-iteration-count: infinite;
}
.circle-loader:before {
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid white;
    border: 3px solid transparent;
    border-top-color: white;
    border-bottom-color: white;
    animation: circleLoader 3s linear;
    animation-iteration-count: infinite;
}
@keyframes circleLoader {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.navbar-nav .nav-item .nav-link {
    color: #A5C9CA;
}


.navbar-nav .nav-item .nav-link:hover {
    background-color: #A5C9CA;
    color: #2c3333;
}

.navbar-brand {
    margin-top: 0px;
}

.carousel {
    margin-top: 75px;
    margin-bottom: 75px;
}

.card {
    padding: 0px;
}
.card-title {
    font-weight: bold;
}
.card img {
    width: 100%;
}

iframe {
    width: 100%;
}

.mla {
    min-height: 400px;

}

.mlc {
    height: 400px;
}

p{
    color: #2C3333;"
}